{% extends "base/base.html" %}
{% load static %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="container bg-light py-4">
    <h1>User Profile</h1>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {% for i in profile.email %}*{% endfor %}</p>
    <p><strong>Password:</strong> {% for i in profile.password %}*{% endfor %}</p>
    <a href="{% url 'profiles:account_settings' %}" class="btn btn-primary mr-2">Edit Account</a>

    <form method="post" action="{% url 'profiles:delete_account' %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Account</button>
    </form>
</div>
{% endblock %}