{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Main Content -->
        <div class="col-md-8 mx-auto">
            <div class="card mb-4">
                <div class="card-body">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top" src="{% static 'media/default.jpg' %}" alt="Placeholder Image">
                    {% else %}
                    <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                    {% endif %}
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">Author: {{ post.author }}</p>
                    <p class="card-text">{{ post.content }}</p>
                    <p class="card-text text-muted">Created on: {{ post.created_on }}</p>
                </div>
                <div class="card-footer text-left"> <!-- Align content to the left -->
                </div>
            </div>

            <!-- Comment Form -->
            <div class="card">
                <div class="card-body">
                    <h3>Add Comment</h3>
                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'core:post_details' slug=post.slug %}">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {% else %}
                    <p>Please <a href="{% url 'core:login' %}">log in</a> to add a comment.</p>
                    {% endif %}
                </div>
            </div>

            <!-- Comments Section -->
            <div id="comments-section" class="card mt-4">
                <div class="card-body">
                    <h3>Comments</h3>
                    {% for comment in comments %}
                        <div class="comment">
                            <p><strong>{{ comment.user.username }}</strong> - {{ comment.created_on }}</p>
                            <p>{{ comment.body }}</p>
                        </div>
                    {% empty %}
                        <p>No comments yet.</p>
                    {% endfor %}
                </div>    
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extras %}
{% endblock %}
